.example-accordion {
  display: block;
  margin-top: 10px;
  max-width: auto;
}

.example-accordion-item {
  display: block;
  border: solid 1px #ccc;
}

.example-accordion-item + .example-accordion-item {
  border-top: none;
}

.example-accordion-item-header {
  display: flex;
  align-content: center;
  justify-content: space-between;
}

.example-accordion-item-description {
  font-size: 0.85em;
  color: #999;
}

.example-accordion-item-header,
.example-accordion-item-body {
  padding: 16px;
}

.example-accordion-item-header:hover {
  cursor: pointer;
  background-color: #eee;
}

.example-accordion-item:first-child {
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
}

.example-accordion-item:last-child {
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
}

.example-viewport {
  height: 200px;
  width: 200px;
  border: 1px solid black;
}

.grid-layout {
  display: grid;
  grid-template-columns: 50% 45%;
  grid-template-rows: 100%;
  column-gap: 2%;
}

.div-layer-view {
  border: 1px solid lightgrey;
  display: block;
  align-items: center;
  height: clamp(200px, 500px, 600px);
  overflow: auto;
}

.div-layer{
  align-items: center;
  justify-content: center;
  font-size: 16px;
  color: #fff;
  background-color: #035e09;
  display: flex;
  width: 90%;
}
