.modal-background {
  background: rgb(72 72 72 / 60%);
  width: 100vw;
  height: 100vmax;
  position: absolute;
  z-index: 100;
  left: 0;
  top: 0;
  overflow: hidden;
}

.modal-content {
  width: 60vw;
  height: 80vh;
  background-color: white;
  left: 20vw;
  top: 5vh;
  box-shadow: 17px 20px 100px 18px black;
  border-radius: 5px;
}

.modal-header{
  align-items: center;
  justify-content: center;
  padding-top: 1%;
  border-bottom: 2px solid #a7a1a1;
}


.mat-radio-button.mat-accent .mat-radio-inner-circle, .mat-radio-button.mat-accent .mat-radio-ripple .mat-ripple-element:not(.mat-radio-persistent-ripple), .mat-radio-button.mat-accent.mat-radio-checked .mat-radio-persistent-ripple, .mat-radio-button.mat-accent:active .mat-radio-persistent-ripple {
  background-color: #505bdf;
}
.mat-radio-button.mat-accent .mat-radio-inner-circle{
  color:rgb(66, 134, 244);
  background-color:rgb(66, 134, 244) ;
}

.mat-radio-button.mat-accent .mat-radio-ripple .mat-ripple-element {
    background-color:rgb(255, 37, 37,.26)
}

.example-radio-group {
  display: flex;
  flex-direction: column;
  margin: 15px 0;
  align-items: flex-start;
}

.example-radio-button {
  margin: 5px;
}

.package-group-list{
  border: 1px solid rgba(160, 156, 156, 0.445);
  width: 80%;
  height: 400px;
  overflow: auto;
  border-radius: 5px;
}
