/* You can add global styles to this file, and also import other style files */
@import "semantic-ui-css/semantic.css";
@import "devextreme/scss/bundles/dx.light";

/* Importing Bootstrap SCSS file. */
@import "node_modules/bootstrap/scss/bootstrap";

/* Importing Datepicker SCSS file. */
@import "node_modules/ngx-bootstrap/datepicker/bs-datepicker";

@import '~ngx-toastr/toastr';
