.grid-layout-address-spot{
  display: grid;
  height: 400px;
  width: 100%;
  border: 1px solid lightgrey;
  padding: 0.5%;
}


.div-address-spot{
  background-color: green;
  border: 1px solid black;
  align-items: center;
}

