.grid-layout-menu {
  margin-top: 10px;
  margin-bottom: 10px;
  margin-left: 10px;
  display: grid;
  grid-template-columns: 20% 30% 20%;
  column-gap: 15px;
}

.div-menu-style {
  border: 1px solid lightgray;
  display: inherit;
  border-radius: 20px;
}

.div-button-style {
  margin-top: 10px;
  margin-bottom: 10px;
  margin-left: 10px;
  margin-right: 10px;
  display: grid;
  grid-row-gap: 200px;
  grid-auto-flow: column;
}

.green{
  background-color: green;
}

.red{
  background-color: red;
}
.label-bottom {
  align-items: center;
  display: inherit;
  flex-direction: column;
  background-color: lightgray;
  border-radius: 0px 0px 20px 20px;
  font-weight: 700;
  text-align: center;
}