.green {
  background-color: green;
}

.red {
  background-color: red;
}

.grid-layout-menu {
  margin-top: 10px;
  margin-bottom: 10px;
  margin-left: 10px;
  display: grid;
  grid-template-columns: 10% 13% 10%;
  column-gap: 10px;

}

.div-menu-style {
  border: 1px solid lightgray;
  text-align: center;
  display: inherit;
  border-radius: 20px;
}

.div-button-style {
  margin-top: 10px;
  align-items: center;
  justify-content: center;
  flex-direction: row;
}

.label-bottom {
  align-items: center;
  display: inherit;
  flex-direction: column;
  background-color: lightgray;
  border-radius: 0px 0px 20px 20px;
  font-weight: 700;
}