.grid-layout-menu {
  display: grid;
  grid-template-columns: 30% 12%;
  column-gap: 10px;
}

.div-menu-style {
  border: 1px solid lightgray;
  display: inherit;
  border-radius: 0px 0px 20px 20px;
}

.label-bottom {
  align-items: center;
  display: flex;
  flex-direction: column;
  background-color: lightgray;
  border-radius: 0px 0px 20px 20px;
  font-weight: 700;
  height: fit-content;

}
