.unity-container,
.unity-container canvas {
    background-color: #000;
    height: 94vh;
    margin: auto !important;
}
.button {
    position: absolute;
    width: 80px;
    height: 30px;
    margin-top: 1%;
    right: 0;
    border-radius: 10px;
    margin-right: 1%;
    z-index: 10;
    background: lightgrey;
    border: 1px solid lightgrey;
}
