.grid-layout {
  display: grid;
  grid-template-columns: 50% 45%;
  grid-template-rows: 100%;
  column-gap: 2%;
  cursor: default;
}



.div-layer-view {
  border: 1px solid lightgrey;
  display: block;
  align-items: center;
  height: 520px;
  overflow: auto;
}

.div-layer {
  align-items: center;
  justify-content: center;
  font-size: 16px;
  color: #fff;
  background-color: #035e09;
  display: flex;
  width: 99.5%;
  border: 1px solid black;
}
