.container {
  
  width: 100%;
  height: 200px;
}
.div-layer-view {
  display: block;
  align-items: center;
  height: 500px;
  width: 500px;
  overflow: hidden;
}

.div-layer {
  align-items: center;
  justify-content: center;
  font-size: 16px;
  color: #fff;
  background-color: #035e09;
  display: flex;
  width: 99.5%;
  border: 1px solid black;
}


