.grid-layout-main {
  display: grid;  
  // grid-template-rows: 15% 85%;
  height: 100vh;
  width: 100vw;
}


.grid-layout{
  display: grid;
  grid-template-columns: 50% 50%;
}


canvas{
  border: 1px solid black;
}
