.grid-layout-divs {
  display: grid;
  grid-template-columns: 20% 15% 50%;
  grid-template-rows: 90vh;
  column-gap: 10px;
  margin: 0.5%;
  padding: 0% 2% 0% 2%;
}

.levels {
  margin-top: 5%;
  padding: 4%;
  border-radius: 10px;
}
.view-bins{
  margin-top: 2.8%;
  display: grid;
  grid-template-rows: 75% 25%;

}


.bins{
  border: 0.1px solid lightgray;
  border-radius: 10px;
  padding-left: 5%;
  padding-top: 1%;
}


.border-lightgray{
  border: 1px solid lightgray;
}
