select {
  border: none;
  background-color: transparent;
  outline: none;
  color: white;
  font-size: 18px;
}


option {
  color: black;
  border: none;
}

option:hover{
  background: lightgrey;
  font-size: 25px;
}

option::before{
  font-size: 20px;
}

select.decorated option:hover {
  box-shadow: 0 0 10px 100px #1882A8 inset;
}
