.grid-layout-bin {
  display: grid;
  grid-template-columns: 100%;
  grid-template-rows: 50% 50%;
  row-gap: 2%;
  cursor: default;
}

.div-bin-view {
  border: 1px solid lightgrey;
  display: block;
  align-items: center;
  height: 200px;
  overflow: auto;
}
