.child {
  width: auto;
  height: auto;
  position: absolute;
  left: 23%;
  padding: 5px;
  bottom: 20%;
 
  
}

.div-bin-view {
  display: block;
  align-items: center;
  height: 200px;
  overflow: auto;
}
